<div>
  <mat-toolbar class="toolbar" color="primary">
    <span>{{ title }}</span>
    <ul class="navbar-nav ml-auto">
      &nbsp;
      <a routerLink="/products" class="nav-link mt-1" style="color: azure">
        Products
      </a>
      &nbsp;
      <a routerLink="/orders" class="nav-link mt-1" style="color: azure">
        Orders
      </a>
      &nbsp;
    </ul>
    &nbsp;
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="{{'Search'}}">
    </form>
    <span fxFlex></span>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item> Ukrainian </button>
        <button mat-menu-item> English </button>
      </mat-menu>
      <button mat-icon-button routerLink="/cart">
        <mat-icon>local_grocery_store</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
