<div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td class="text-center">
          <img width="50" height="80" src="{{cartItem.img}}">
        <td class="text-left">{{cartItem.name | titlecase}}
        </td>
        <td class="text-right quantity">x {{cartItem.quantity}}</td>
        <td class="text-right">{{cartItem.price | currency:'USD'}}</td>
        <td class="text-left"><button type="button" (click)="onPlusCount($event)" title="+" class="btn  btn-xs">+</button></td>
        <td class="text-left"><button type="button" (click)="onMinusCount($event)" title="-" class="btn btn-xs">-</button></td>
        <td class="text-left"><button type="button" (click)="onDelete($event)" title="Remove" class="btn btn-danger btn-xs">X</button></td>
      </tr>
    </tbody>
  </table>
</div>
